<nb-layout center="true">
  <nb-layout-header><h4>Account Overview</h4></nb-layout-header>
  <nb-layout-column>
    <nb-card>
      <nb-card-header>
        <h5>{{authService.currentUser.displayName}}</h5>
      </nb-card-header>
      <nb-card-body>
        <p>{{authService.currentUser.email}}</p>
        <p>{{authService.currentUser.uid}}</p>
      </nb-card-body>
    </nb-card>
    <button nbButton hero status="primary" [routerLink]="['/dashboard']">Go to Dashboard</button>
    <button nbButton hero status="warning" (click)="signOut()">Sign Out</button>
  </nb-layout-column>
</nb-layout>
