<nb-layout center="true">
  <nb-layout-column>
    <nb-card>
      <nb-card-header>
        <h4>Reset password</h4>
      </nb-card-header>
      <nb-card-body>
        <p class="text-center">Please enter your email address to request a password reset.</p>
        <form [formGroup]="form" (ngSubmit)="reset(email.value)">
          <nb-form-field>
            <input type="email" placeholder="Email" nbInput #email required>
          </nb-form-field>
          <div>
            <button nbButton status="primary" type="submit">Reset</button>
          </div>
          <span>Go back to Log in <a class="redirect" routerLink="/auth">Sign In</a></span>
        </form>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
