<form [formGroup]="form" (ngSubmit)="create()">
  <p>Input an image:</p>
  <input type="file" id="upload_file" placeholder="Choose your image" alt="img" formControlName="image">
  <p>Input your text</p>
  <input type="text" placeholder="Now input your text" formControlName="text">
  <input type="password" placeholder="Choose a password" formControlName="password">
  <button type="submit">Encrypt</button>
</form>
<img id="img" alt="new img" width="100" height="100" src="">
<img id="img2" alt="new img" src="">
