nb-layout-column {
  display: flex;
  justify-content: center;
  align-self: center;
}

form > *{
  display: flex;
  flex-direction: column;
  align-items: center !important;
  margin: 1rem;
  padding: 0
}
